/*style sheet for design mockup*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.logo {
  max-width: 90px;
  max-height: 90px;
}

.featuredwork {
  color: #7d97ad
}

.header {
font-family: "Open sans";
color: #2d3c49
}

.bigpicture {
border-top: 4px solid  #7d97ad;
padding-top: 20px;
}

.maincontent_images {
  max-width: 33%;
}

.maincontent {
  padding-left: -50px;
  padding-right: -50px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/*.maincontent_container {
  margin: 100px;
} /*<<<<<<<this class was made to make the whole project better viewable on the webpage for testing*/
